/** {
  padding: 0;
  margin: 0;
}*/

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
}

html {
  scroll-behavior: smooth;
  font-family: 'Merriweather', serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  opacity: 0.7;
  border: 1px solid #e7e7e7;
  position: fixed;
  z-index: 1;
  top: 0; 
  width: 100%; 

}

#background-img {
  height: 100%; 
  background: url('/static/images/clothing-rack.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#main-title-homepage {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    text-shadow: white 0px 0px 10px;
    font-size: 100px;
    text-align: left;
    padding-top: 150px;
    padding-left: 50px;
}

.color-box {
    background-color:#add8e6; 
}


#about-section {
    background: #add8e6;
    font-family: 'Merriweather', serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

#partners {
    background: #add8e6;
    font-family: 'Merriweather', serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

#explain-section {
    background: #add8e6;
    font-family: 'Merriweather', serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

blockquote {
    border-left: 5px solid #2d6c39;
    font: 'opensans-bold', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 35px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: -45px;
    padding: 15px;
}

p {
    font-size: 16px;
}

