html, body {
    width: 100%;
    height: 100%;
    font-family: 'Merriweather', serif;
}

html {
  scroll-behavior: smooth;
  font-family: 'Merriweather', serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  opacity: 0.7;
  border: 1px solid #e7e7e7;
  position: fixed;
  z-index: 1;
  top: 0; 
  width: 100%; 

}

.h3 {
  font-size: 16px;
}
