<!DOCTYPE html>
<html>
<head>
    <title>About ImpoverPOSHed</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="colorful" onload="getrags()">
    

      <script>
        function displayRags(rags) {
          console.log("appending rags")
          console.log(rags)
          const ragHolder = document.getElementById('ragHolder');
          rags.forEach(function(rag) {
            ragHolder.append("<div class='flexRag'>" + rag.toString() + "</div>")
          })
        }

        function getRags() {
          console.log("getting rags")
          fetch('./get_rags').then(display_rags(result)).catch((function(err){console.error(err)}))
        }
      </script>

</body>
</html>
-->
<html>
    <head>
        <title>Browse Our Inventory</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./static/styles.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="./">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./shopping-page">Get Stuff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Give Stuff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./login-current-user">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about">About</a>
            </li>
      </nav>
      <!-- END NAVBAR-->

    <body>
        <h1>Browse Our Inventory</h1>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Item ID</th>
                <th>Lot #</th>
                <th>Retailer</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Buy</th>
            </tr>
        {% for item in clothing %}
            <tr>
                <td>{{ title_case(item.name) }} </td>
                <td>{{ item.article_id }} </td>
                <td>{{ item.lot_number }} </td>
                <td>{{ item.retailer }} </td>
                <td>{{ item.description }} </td>
                <td>{{ item.price }} </td>
                <td><img src="{{ item.link }}" alt="{{ item.name }}" width=200px height=200px></td>
                <td><a href="/add_to_cart/{{ item.article_id }}">Buy Now</a></td>
            </tr>
        {% endfor %}
        </table>
    </body>
</html>
