<!DOCTYPE html>
<html>
    <head>
        <title>Browse Our Inventory</title>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./static/styles.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="./">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./shopping-page">Get Stuff</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Give Stuff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./login-current-user">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about">About</a>
            </li>
      </nav>
      <!-- END NAVBAR-->

    <body>
        <h1 class='center'>Browse Our Inventory</h1>
        <div class='clothing-grid'>
        {% for item in clothing %}
            <div class='clothing-item center'>
                <h4>{{ title_case(item.name) }} </h4>
                <img src="{{ item.link }}" alt="{{ item.name }}" class="clothing-image">
                <p><button><a href="/add_to_cart/{{ item.article_id }}">Buy Now</a></button></p>
                <p>{{ item.description }} </p>
                <p>{{ "$%.2f"|format(item.price) }} </p>
            </div>
        {% endfor %}
          </div>
    </body>
</html>
