<!DOCTYPE html>
<html>
<head>
    <title>Slashed</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/homepage.css">

</head>



<body>

    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/olivia-ea/hackthon-project">Github</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/register-new-user">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login-current-user">Register</a>
                </li>
            </ul>


        <!-- Dont need a dropdown right now
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
        -->
        </div>
        <!-- END NAVBAR-->
      </nav>

<div id="background-img" class="container-fluid text-center light-text">
    <div class="homepage-header-row row">
        <h1 id="main-title-homepage">Slashed</h1>
    </div>

</div>

<div class="color-box" id="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">

                        <a id="about"></a>
                        <blockquote>OUR MISSION</blockquote>
                    </div>

                    <div class="col-lg-9">
                        <br>
                        <br>
                        <h5>What's the problem?</h5>
                        <p>
                            Nowadays fast fashion brands produce about 52 “micro-seasons” a year. This means at least one new “collection” every week. Companies like “H&M and Forever21 both get daily shipments of new styles, while Topshop introduces 400 styles a week on its website.” 
                        </p>
                        <p>
                            By creating new, desirable styles weekly, these brands are able to create massive amounts of clothing and make sure that the customer never tires of their store’s inventory. Because clothing is made in such a rushed manner, brands are selling severely low-quality merchandise. There isn’t enough time for a proper quality control or to make sure a shirt has the right amount of buttons when there is such urgency from the brand to get clothing to their crowd of customers.
                        </p>
                        <p>
                            The fast fashion manufacturing process leaves a lot to be desired and pieces are often thrown away after no more than a few wears. Each rapidly produced garment isn’t built to last and is made to seem as ‘easy come, easy go’ as possible. The environmental damage, which the fashion industry continues to create, is in large part due to fast fashion.
                        </p>
                        <br>
                        <h5>Which SDG?</h5>
                        <p>
                            <!-- GOAL 8: Decent Work and Economic Growth
                            GOAL 11: Sustainable Cities and Communities
                            GOAL 12: Responsible Consumption and Production
                            GOAL 13: Climate Action -->
                            Each year, the clothing that is simply thrown away amounts to about 11 million tons in the US alone. These garments, full of lead, pesticides, and countless other chemicals, almost never break down and spend their life releasing these toxic chemicals in the air. Fast fashion’s carbon footprint is giving huge industries like air travel and oil a “run for their money.”
                        </p>
                        <p>
                            Along with the effects fast fashion has on our earth, these processes affect the humans who wear them, and the humans who make them. Some garments and accessories even have dangerous amounts of lead in them, and exposure to lead increases one’s risk of infertility, heart attacks and more. Skin is the largest organ of the body and putting on these poorly made items on it is dangerous all on its own. This danger only grows in the factories, towns, and homes which are used to produce these items.
                        </p>
                        <p>
                            A garment worker’s health is constantly being jeopardized through their long hours, lack of resources, exposure to harmful chemicals, and often physical abuse. The people who make fast fashion clothing have been confirmed to be underpaid, underfed, and pushed to their limits because there are often few other options. 
                        </p>
                        <br>
                        <h5>How We Help</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <br>
                        <h5>Who are we?</h5>
                        <p>
                            We are a passionate, dedicated hackers at Minerva 2019 trying to reduce the massive amount of synthetic and organic fabric waste generated by the consumer clothing industry.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="color-box" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                         <a id="partners"></a>
                        <blockquote>OUR PARTNERS</blockquote>
                    </div>

                    <div class="col-lg-9" id="partner-img">
                        <br>
                        <br>
                        <img src="/static/images/patagonia.png" height="200" width="200">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="/static/images/forever21.png" height="200" width="200">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="/static/images/handm.png" height="200" width="200">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="color-box" id="explain-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                         <a id="explain"></a>
                        <blockquote>HOW IT <br>HAPPENS</blockquote>
                    </div>
                    <div class="col-lg-9">
                        <br>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</div>
<!-- 

<div class="color-box" id="about section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                         <a id="partners"></a>
                        <blockquote>OUR PARTNERS</blockquote>
                    </div>

                    <div class="col-lg-9">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                         -->




  </body>
</html>

